<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-zinc-900 text-white">
    <h1 class="text-2xl text-center p-3 font-bold bg-black text-white">
      Welcome To TaskManger
    </h1>

    <form
      action="/created"
      method="post"
      class="flex flex-col gap-3 p-10 mx-auto"
    >
      <input
        type="text"
        ,
        placeholder="Add your task"
        name="title"
        class="bg-zinc-700 text-white p-2 rounded-md border-white"
      />
      <input
        type="text"
        placeholder="Add your description"
        name="details"
        class="bg-zinc-700 text-white p-2 rounded-md"
      />
      <input
        type="submit"
        value="Create"
        class="bg-blue-500 w-20 text-white p-2 rounded font-bold"
      />
    </form>

    <div class="flex flex-wrap p-10 gap-3">
      <% if(files.length>0){%> <% files.forEach(function(val){ %>
      <div class="bg-zinc-700 w-72 rounded-md py-3 px-4">
        <div class="flex flex-wrap justify-between">
          <h1 class="text-white text-3xl tracking-tighter"><%=val %></h1>
             <form action="/delete" method="POST" onsubmit="return confirm('Are you sure you want to delete this file?');">
    <input type="hidden" name="filename" value="<%= val %>">
    <button type="submit" class="text-red-400 hover:text-red-500 font-medium">Delete</button>
  </form>
        </div>
        <div class="flex justify-between mt-3">
          <a
            class="text-blue-500 text-lg inline-block hover:cursor-pointer"
            href="/file/<%= val %>"
            >Read more</a
          >
          <a class="text-lg text-blue-500 inline-block" href="/edit/<%=val%>"
            >edit</a
          >
        </div>
      </div>

      <% }) %> <% } %>
    </div>
  </body>
</html>
